<h1><%= transactionMsg %></h1>
       <div class="navbar">
        <div class="logo">
            <img src="./images/marketgologo.png" alt=""><sub><b>Market go</b></sub><sup style="font-size: 14px;">&reg;</sup>
        </div>
        <nav>
            <ul>
                <li><i class="fa fa-house-circle-check"></i> Home</li>
                <li><i class="fa fa-table-columns"></i> Dashboard</li>
                <li><i class="fa fa-swatchbook"></i> About</li>
                <a href="/logout" style="color: #333;"><li><i class="fa fa-circle-xmark"></i> Logout</li></a>
            </ul>
        </nav>
       </div>
       
<div class="main-container">
   
        
    <div class="side-section">
        <h2>Hi, <%= fname %></h2>
        <br>
        <p>Welcome to Marketgo. You have some new notifications. Below is the status of your account as at now.</p>
        
        <br>
        <table>
            <thead>
                <tr>
                    <th><i class="fa fa-shopping-bag"></i> Items</th>
                    <th><i class="fa fa-coins"></i> Budget</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                     <!--get number of orders-->
                   <% custPurchases.forEach((pkgData)=>{ %>
                    <%= pkgData.orders.length %>
                    <% }) %>
                </td>
                    <td>KES. <%= budget %></td>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <div class="side-section">
        
        <h2><%= name %></h2>
        <br>
       <div class="section-menu">
            <a href="/dashboard/commitfunds"><p><i class="fa fa-list-check"></i> <br> Commit amount</p></a>
            <a href="/generate-receipt"><p><i class="fa fa-receipt"></i> <br> Current Receipt</p></a>
            
            <p><i class="fa fa-id-card-clip"></i> <br> <%= id %></p>
       </div>
        
    </div>

    <div class="side-section">
        <h1>History</h1>
        <p>A list of top previous transactions</p>
        <br>
        <!--previous transaction sections-->
        <% if(custPurchases.length > 0) { %>
            <% custPurchases.forEach(function(purchase) { %>
            <% if(purchase.isSigned||!purchase.isSigned) { %>
                
                <% const formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
                <% purchase.orders.forEach(function(order) { %>
                    

                    <% if (order.isSigned) { %>
                        <% const orderDate = new Date(order.orderDate); %>
                        <% const currentDate = new Date(); %>
                        <% if (
                          orderDate.getDate() === currentDate.getDate() &&
                          orderDate.getMonth() === currentDate.getMonth() &&
                          orderDate.getFullYear() === currentDate.getFullYear()
                        ) { %>
                          <div class="transaction-card">
                            <p><i class="fa fa-circle-check"></i> KES. <%= formatter.format(order.cost) %> - <%= order.retailerName %></p>
                          </div>
                        <% } %>
                      <% } %>
                      

                <% }) %>
                
            <% } %>
            <% }) %>
        <% } else { %>
            <div class="transaction-card" style="box-shadow: none;">
            <p>No payments</p>
            </div>
        <% } %>
         
        <!--end of transaction sections-->
        

        
    </div>
    <div class="side-section">
        <h1>Purchases</h1>
        <!--previous transaction sections-->
        <% if(custPurchases.length > 0) { %>
            
            <% custPurchases.forEach(function(purchase) { %>
            <% if(!purchase.isSigned||purchase.isSigned) { %>
                
                <% const formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
                <% purchase.orders.forEach(function(order) { %>
                    <%if(!order.isSigned){%>
                        <div class="transaction-card">
                            <form action="/package/<%= order.id %>?_method=DELETE" method="POST">
                            <p>
                            <button type="submit"><i class="fa fa-circle-minus"></i></button>
                             KES. <%= formatter.format(order.cost) %> - <%= order.retailerName %>
                            </p>
                            </form>
                        </div>
                    <%}%>
                <% }) %>
            <% } %>
            <% }) %>
        
        <% } else { %>
            <div class="transaction-card" style="box-shadow: none;">
            <p>No purchase</p>
            </div>
        <% } %>
  
        <% const formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
        <% if(sum<=0){ %>
            <a href="/pay"><button class="btnCheckOut" disabled>Check out KES. <%= formatter.format(sum) %></button></a>
        <% }else{ %>
            <a href="/pay"><button class="btnCheckOut">Check out KES. <%= formatter.format(sum) %></button></a>
        <% } %>

    </div>

   
    
</div>





<div class="footer-menu large-screen-footer">
    
        <ul>
            <li><a href="/statement"><img src="./images/shopping.gif" alt=""></a></li>
            <li><a href="/contact-us"><img src="./images/tech-support.gif" alt=""></a></li>
            <li><a href="/profile"><img src="./images/profile.gif" alt=""></a></li>
            
        </ul>
    
</div>

<div class="footer-menu small-screen-footer">
    
    <ul>
        <li><a href="/statement">Statement</a></li>
     
        <li><a href="/contact-us">Contact Us<a></li>
      <br>
      <br>
        <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
          <br>
          <br>
          <br>  
        
    </ul>

</div>

<script>
    const statementCont=document.getElementById('tran-stat');
    function checkStatement(){
        statementCont.style.display='block';
    }

    function closeCheckStatement(){
        statementCont.style.display='none';
    }
</script>