<h1><%= transactionMsg %></h1>
<div class="main-container">
    <!--<div class="logo">
            <img src="./images/marketgologo.png" alt="">
        </div>
        <h1>Market Go. Buy. Pay Later</h1>-->

    <div class="side-section">
        <h2>Hi, <%= fname %></h2>
        <br>
        <p>Welcome to Marketgo. You have some new notifications. Below is the status of your account as at now.</p>
        
        <br>
        <table>
            <thead>
                <tr>
                    <th><i class="fa fa-wallet"></i> Mpesa Balance</th>
                    <th><i class="fa fa-coins"></i> Budget</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>KES. 5,230.00</td>
                    <td>KES. <%= budget %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="side-section">
        <h2><%= name %></h2>
        <br>
       <div class="section-menu">
            <a href="/dashboard/commitfunds"><p><i class="fa fa-list-check"></i> <br> Commit amount</p></a>
            <p><i class="fa fa-ellipsis"></i> <br> Options</p>
            <p><i class="fa fa-eye-slash"></i> <br> <%= id %></p>
       </div>
        
    </div>

    <div class="side-section">
        <h1>History</h1>
        <p>A list of top previous transactions</p>
        <br>
        <!--previous transaction sections-->
        <% if(custPurchases.length>0){ %>
            <% custPurchases.forEach(function(order) { %>
             <% if(order.isSigned){ %>
                 <div class="transaction-card">
                     <% const formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
                     <p><i class="fa fa-circle-check"> </i> KES. <%= formatter.format(order.cost) %> - <%= order.retailerName %></p>
                     
                 </div>
             <% } %>
             <% }) %>
         <% }else{ %>
             <div class="transaction-card" style="box-shadow: none;">
                 <p>No payments</p>
             </div>
         <% } %>
        <!--end of transaction sections-->
        

        
    </div>
    <div class="side-section">
        <h1>Purchases</h1>
        <% if(custPurchases.length>0){ %>
           <% custPurchases.forEach(function(order) { %>
            <% if(!order.isSigned){ %>
            <div class="transaction-card">
                <% const formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
                <p><i class="fa fa-circle-minus"> </i> KES. <%= formatter.format(order.cost) %> - <%= order.retailerName %></p>
            </div>
            <% } %>
            <% }) %>
        <% }else{ %>
            <div class="transaction-card" style="box-shadow: none;">
                <p>No due payment</p>
            </div>
        <% } %>
        <% const formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
        <button class="btnCheckOut">Check out KES. <%= formatter.format(sum) %></button>
    </div>

   
    
</div>