<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="You can now be able to shop at the market for clothes and pay later using Marketgo. This platform gives you the merit of not loosing your valuables while shopping in a crowded market. Signup and enjoy using Marketgo.">
    <meta name="keywords" content="mpesa, market, mitumba, second hand, cloth, pay later, credit, shop">
    <title>Marketgo</title>
    <link rel="shortcut icon" href="./images/favico.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/912e452282.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="./images/marketgologo.png" alt=""><sub><b>Market go</b></sub><sup style="font-size: 14px;">&reg;</sup>
        </div>
        <nav>
            <ul>
                <li><i class="fa fa-house-circle-check"></i> Home</li>
                <li><i class="fa fa-table-columns"></i> Dashboard</li>
                <li><i class="fa fa-swatchbook"></i> About</li>
                <a href="/logout" style="color: #333;"><li><i class="fa fa-circle-xmark"></i> Logout</li></a>
            </ul>
        </nav>
    </div>
    <br>
    
    <div class="profile-box">
       
        <div class="profile-cont-showcase">
            <center><img src="./images/profile.gif" alt="" style="height: 150px; width: 150px"></center>
            <h2><%= user.userName %></h2>
            <p>Welcome to your profile, you can check various items about you.</p>
        </div>

        <div class="grid-container-profile">
            <div class="profile-cont">
                <h2>Bio</h2>
                <br>
                <p>Role: <%= user.userType%></p>
                <br>
                <p>Email: <%= user.userEmail%></p>
                <br>
                <p>Gender: <%= user.userGender%></p>
                
            </div>
            
           
            <div class="profile-cont">
                <h2>User IDs</h2>
                <br>
                <p>Account Id: <%= user.id%></p>
                <br>
                <p>Transaction Id: <%= user.userTransactionId%></p>
                <br>
                
            </div>
    
            <div class="profile-cont">
                <h2>Contact Information</h2>
                <br>
                <p>Address: <%= user.userAddr%></p>
                <br>
                <p>Phone: <%= user.userPhone%></p>
                <br>
            </div>
        </div>

        
    </div>
</body>
</html>